<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fodo.Web</title>
    @* <script type="importmap"></script> *@
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/Fodo.Web.styles.css" asp-append-version="true" /> *@
</head>
<body>
    
    <div class="rtl">
        <!-- Toggle checkbox -->
        <input type="checkbox" id="navToggle" class="nav-toggle">

        <!-- Overlay (click closes) -->
        @* <label for="navToggle" class="overlay"></label> *@

        <!-- Cyan icon rail (always visible) -->
        <aside class="rail">
            <div class="rail-top">
                <div class="brand-circle"></div>

                <!-- toggle button -->
                <label class="toggle-btn" for="navToggle">
                    <span class="chev"></span>
                </label>
            </div>

            <nav class="rail-icons">
                <a href="#" class="rail-icon active" title="لوحة التحكـم">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M26.9052 16.1095V6.68786C28.5325 6.4534 29.7879 5.05385 29.7879 3.36315C29.7879 1.50909 28.2793 0 26.4248 0C24.5702 0 23.0616 1.50909 23.0616 3.36315H0V22.5811H14.438C14.6878 26.5958 18.0246 29.7879 22.1007 29.7879C26.3392 29.7879 29.7879 26.3392 29.7879 22.1007C29.7879 19.6797 28.6603 17.5196 26.9052 16.1095ZM26.4248 0.960899C27.7494 0.960899 28.827 2.03855 28.827 3.36315C28.827 4.68775 27.7494 5.76539 26.4248 5.76539C25.1002 5.76539 24.0225 4.68775 24.0225 3.36315C24.0225 2.03855 25.1002 0.960899 26.4248 0.960899ZM0.9609 4.32405H23.2033C23.3182 4.70744 23.5007 5.06057 23.7352 5.37383L20.7968 8.31226C20.6084 8.22193 20.4009 8.16764 20.1789 8.16764C19.9569 8.16764 19.7494 8.22193 19.5615 8.31226L18.5934 7.34415C18.6833 7.15582 18.7375 6.94826 18.7375 6.72629C18.7375 5.93163 18.0909 5.28495 17.2962 5.28495C16.5015 5.28495 15.8548 5.93163 15.8548 6.72629C15.8548 6.94826 15.9091 7.15582 15.9995 7.34367L13.59 9.75312C13.4017 9.66328 13.1941 9.60899 12.9721 9.60899C12.1775 9.60899 11.5308 10.2557 11.5308 11.0503C11.5308 11.845 12.1775 12.4917 12.9721 12.4917C13.7668 12.4917 14.4135 11.845 14.4135 11.0503C14.4135 10.8284 14.3592 10.6208 14.2689 10.433L16.6783 8.02351C16.8667 8.11335 17.0742 8.16764 17.2962 8.16764C17.5182 8.16764 17.7257 8.11335 17.9136 8.02303L18.8817 8.99113C18.7918 9.17947 18.7375 9.38702 18.7375 9.60899C18.7375 10.4037 19.3842 11.0503 20.1789 11.0503C20.9736 11.0503 21.6203 10.4037 21.6203 9.60899C21.6203 9.38702 21.566 9.17947 21.4756 8.99161L24.4145 6.05318C24.8542 6.38277 25.3759 6.60618 25.9443 6.68834V15.4541C24.8119 14.7964 23.5017 14.4135 22.1007 14.4135C19.8042 14.4135 17.7449 15.4311 16.3353 17.0334V14.8939H13.4526V20.6593H14.5538C14.4942 20.9731 14.4582 21.2945 14.438 21.6202H0.9609V4.32405ZM20.1789 9.12854C20.4436 9.12854 20.6594 9.34378 20.6594 9.60899C20.6594 9.8742 20.4436 10.0894 20.1789 10.0894C19.9142 10.0894 19.6985 9.8742 19.6985 9.60899C19.6985 9.34378 19.9142 9.12854 20.1789 9.12854ZM16.8158 6.72629C16.8158 6.46108 17.0315 6.24584 17.2962 6.24584C17.5609 6.24584 17.7767 6.46108 17.7767 6.72629C17.7767 6.9915 17.5609 7.20674 17.2962 7.20674C17.0315 7.20674 16.8158 6.9915 16.8158 6.72629ZM13.4526 11.0503C13.4526 11.3155 13.2369 11.5308 12.9722 11.5308C12.7074 11.5308 12.4917 11.3155 12.4917 11.0503C12.4917 10.7851 12.7074 10.5699 12.9722 10.5699C13.2369 10.5699 13.4526 10.7851 13.4526 11.0503ZM22.1007 25.9443C19.9814 25.9443 18.2571 24.2199 18.2571 22.1007C18.2571 19.9814 19.9814 18.2571 22.1007 18.2571C24.22 18.2571 25.9443 19.9814 25.9443 22.1007C25.9443 24.2199 24.22 25.9443 22.1007 25.9443ZM15.3744 18.3873C15.1443 18.8024 14.954 19.241 14.8031 19.6984H14.4135V15.8548H15.3744V18.3873ZM21.6203 15.3989V17.3207C19.1959 17.5628 17.2962 19.6139 17.2962 22.1007C17.2962 22.8036 17.4519 23.47 17.7243 24.0724L16.0576 25.0348C15.6242 24.1469 15.3744 23.1533 15.3744 22.1007C15.3744 18.554 18.1355 15.6468 21.6203 15.3989ZM22.1007 28.827C19.7878 28.827 17.744 27.6532 16.5332 25.8698L18.2067 24.9036C19.0801 26.1134 20.4979 26.9052 22.1007 26.9052C23.7035 26.9052 25.1213 26.1134 25.9947 24.9036L27.6682 25.8698C26.4574 27.6532 24.4136 28.827 22.1007 28.827ZM28.1438 25.0348L26.4771 24.0724C26.7495 23.47 26.9052 22.8036 26.9052 22.1007C26.9052 19.6139 25.0055 17.5624 22.5812 17.3207V15.3989C26.0659 15.6468 28.827 18.554 28.827 22.1007C28.827 23.1533 28.5772 24.1469 28.1438 25.0348Z" fill="white" />
                        <path d="M22.1007 19.2178C20.5109 19.2178 19.218 20.5107 19.218 22.1005C19.218 23.6903 20.5109 24.9832 22.1007 24.9832C23.6905 24.9832 24.9834 23.6903 24.9834 22.1005C24.9834 20.5107 23.6905 19.2178 22.1007 19.2178ZM22.1007 24.0223C21.0408 24.0223 20.1789 23.1603 20.1789 22.1005C20.1789 21.0406 21.0408 20.1787 22.1007 20.1787C23.1606 20.1787 24.0225 21.0406 24.0225 22.1005C24.0225 23.1603 23.1606 24.0223 22.1007 24.0223Z" fill="white" />
                        <path d="M1.92188 5.28516H2.88277V6.24606H1.92188V5.28516Z" fill="white" />
                        <path d="M3.84351 5.28516H10.5698V6.24606H3.84351V5.28516Z" fill="white" />
                        <path d="M1.92188 7.20703H2.88277V8.16793H1.92188V7.20703Z" fill="white" />
                        <path d="M3.84351 7.20703H10.5698V8.16793H3.84351V7.20703Z" fill="white" />
                        <path d="M1.92188 9.12891H2.88277V10.0898H1.92188V9.12891Z" fill="white" />
                        <path d="M3.84351 9.12891H10.5698V10.0898H3.84351V9.12891Z" fill="white" />
                        <path d="M1.92188 11.0508H2.88277V12.0117H1.92188V11.0508Z" fill="white" />
                        <path d="M3.84351 11.0508H10.5698V12.0117H3.84351V11.0508Z" fill="white" />
                        <path d="M1.92188 20.659H4.80457V15.8545H1.92188V20.659ZM2.88277 16.8154H3.84368V19.6981H2.88277V16.8154Z" fill="white" />
                        <path d="M5.76538 20.659H8.64808V16.8154H5.76538V20.659ZM6.72628 17.7763H7.68718V19.6981H6.72628V17.7763Z" fill="white" />
                        <path d="M9.60889 20.6589H12.4916V12.9717H9.60889V20.6589ZM10.5698 13.9326H11.5307V19.698H10.5698V13.9326Z" fill="white" />
                    </svg>
                </a>
                <a href="#" class="rail-icon active" title="إدارة">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M12.1079 4.84277H16.9511V5.81141H12.1079V4.84277Z" fill="white" />
                        <path d="M12.1079 6.78027H16.9511V7.74891H12.1079V6.78027Z" fill="white" />
                        <path d="M26.6375 25.1845V21.31C26.6375 21.095 26.4956 20.9056 26.2888 20.845L15.0139 17.5565V11.6236H18.4041C18.672 11.6236 18.8884 11.4067 18.8884 11.1393V3.39023C18.8884 3.26188 18.8376 3.13838 18.7465 3.04781L15.8406 0.141905C15.7501 0.0508535 15.627 0 15.4982 0H10.655C10.3872 0 10.1707 0.216974 10.1707 0.484318V11.1393C10.1707 11.4067 10.3872 11.6236 10.655 11.6236H14.0453V17.5565L2.77034 20.845C2.56354 20.9056 2.42163 21.095 2.42163 21.31V25.1845C2.42163 25.3996 2.56354 25.5889 2.77034 25.6495L14.394 29.0397C14.4385 29.0528 14.4836 29.0591 14.5296 29.0591C14.5756 29.0591 14.6206 29.0528 14.6652 29.0397L26.2888 25.6495C26.4956 25.5889 26.6375 25.3996 26.6375 25.1845ZM15.9825 1.65346L17.235 2.90591H15.9825V1.65346ZM11.1394 0.968637H15.0139V3.39023C15.0139 3.65757 15.2304 3.87455 15.4982 3.87455H17.9198V10.655H11.1394V0.968637ZM14.0453 18.5654V21.1095L12.9347 19.9989L12.2499 20.6838L14.1872 22.621C14.2816 22.7155 14.4056 22.7629 14.5296 22.7629C14.6536 22.7629 14.7776 22.7155 14.872 22.621L16.8093 20.6838L16.1244 19.9989L15.0139 21.1095V18.5654L24.4237 21.31L14.5296 24.1956L4.63545 21.31L14.0453 18.5654ZM3.39027 21.9556L14.0453 25.0635V27.9292L3.39027 24.8213V21.9556ZM15.0139 27.9292V25.0635L25.6689 21.9556V24.8213L15.0139 27.9292Z" fill="white" />
                        <path d="M12.1079 2.90625H14.0452V3.87489H12.1079V2.90625Z" fill="white" />
                        <path d="M0.484316 11.6236H3.87454C3.87454 12.9589 4.96087 14.0452 6.29613 14.0452H7.74909C8.55015 14.0452 9.20204 14.6971 9.20204 15.4982V16.2663L8.0915 15.1558L7.40667 15.8406L9.34395 17.7779C9.43839 17.8723 9.56237 17.9198 9.68636 17.9198C9.81034 17.9198 9.93433 17.8723 10.0288 17.7779L11.966 15.8406L11.2812 15.1558L10.1707 16.2663V15.4982C10.1707 14.1629 9.08435 13.0766 7.74909 13.0766H6.29613C5.49507 13.0766 4.84318 12.4247 4.84318 11.6236H8.23341C8.50123 11.6236 8.71772 11.4067 8.71772 11.1393V3.39023C8.71772 3.26188 8.66687 3.13838 8.57582 3.04781L5.66991 0.141905C5.57934 0.0508535 5.45633 0 5.3275 0H0.484318C0.21649 0 0 0.216974 0 0.484318V11.1393C0 11.4067 0.216488 11.6236 0.484316 11.6236ZM5.81181 1.65346L7.06426 2.90591H5.81181V1.65346ZM0.968634 0.968636H4.84318V3.39023C4.84318 3.65757 5.05967 3.87454 5.3275 3.87454H7.74909V10.655H0.968634V0.968636Z" fill="white" />
                        <path d="M1.93726 4.84277H6.78044V5.81141H1.93726V4.84277Z" fill="white" />
                        <path d="M1.93726 6.78027H6.78044V7.74891H1.93726V6.78027Z" fill="white" />
                        <path d="M1.93726 8.71777H6.78044V9.68641H1.93726V8.71777Z" fill="white" />
                        <path d="M1.93726 2.90625H3.87453V3.87489H1.93726V2.90625Z" fill="white" />
                        <path d="M29.0591 11.1393V3.39023C29.0591 3.26188 29.0082 3.13838 28.9172 3.04781L26.0112 0.141905C25.9207 0.0508535 25.7977 0 25.6688 0H20.8257C20.5578 0 20.3413 0.216974 20.3413 0.484318V11.1393C20.3413 11.4067 20.5578 11.6236 20.8257 11.6236H24.2159C24.2159 12.4247 23.564 13.0766 22.7629 13.0766H21.31C19.9747 13.0766 18.8884 14.1629 18.8884 15.4982V16.2663L17.7778 15.1558L17.093 15.8406L19.0303 17.7779C19.1247 17.8723 19.2487 17.9198 19.3727 17.9198C19.4967 17.9198 19.6207 17.8723 19.7151 17.7779L21.6524 15.8406L20.9676 15.1558L19.857 16.2663V15.4982C19.857 14.6971 20.5089 14.0452 21.31 14.0452H22.7629C24.0982 14.0452 25.1845 12.9589 25.1845 11.6236H28.5747C28.8426 11.6236 29.0591 11.4067 29.0591 11.1393ZM26.1532 1.65346L27.4056 2.90591H26.1532V1.65346ZM21.31 10.655V0.968636H25.1845V3.39023C25.1845 3.65757 25.401 3.87454 25.6688 3.87454H28.0904V10.655H21.31Z" fill="white" />
                        <path d="M22.2786 4.84277H27.1217V5.81141H22.2786V4.84277Z" fill="white" />
                        <path d="M22.2786 6.78027H27.1217V7.74891H22.2786V6.78027Z" fill="white" />
                        <path d="M22.2786 8.71777H27.1217V9.68641H22.2786V8.71777Z" fill="white" />
                        <path d="M22.2786 2.90625H24.2158V3.87489H22.2786V2.90625Z" fill="white" />
                        <path d="M12.1079 8.71777H13.0765V9.68641H12.1079V8.71777Z" fill="white" />
                        <path d="M14.0452 8.71777H15.0138V9.68641H14.0452V8.71777Z" fill="white" />
                        <path d="M15.9824 8.71777H16.9511V9.68641H15.9824V8.71777Z" fill="white" />
                    </svg>
                    </a>
                <a href="#" class="rail-icon" title="المخزون">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                        <path d="M7.78368 12.5007H19.1999V23.3979H20.2377V11.9818C20.2377 11.6952 20.0054 11.4629 19.7188 11.4629H7.26476C6.97817 11.4629 6.74585 11.6952 6.74585 11.9818V20.8034H7.78368V12.5007Z" fill="white" />
                        <path d="M17.1242 18.2089H16.0864V16.6522C16.0864 16.3656 15.8541 16.1333 15.5675 16.1333H14.0107V14.5765C14.0107 14.2899 13.7784 14.0576 13.4918 14.0576H11.4161C11.1295 14.0576 10.8972 14.2899 10.8972 14.5765V18.2089H9.85938V19.2468H17.1242V18.2089ZM15.0486 17.1711V18.2089H14.0107V17.1711H15.0486ZM11.9351 15.0954H12.9729V18.2089H11.9351V15.0954Z" fill="white" />
                        <path d="M22.1845 23.9739C21.7192 23.7767 21.1937 23.7776 20.729 23.9764L17.3742 25.4009C17.4268 24.8895 17.2603 24.3797 16.9159 23.9979C16.5716 23.6162 16.0816 23.3982 15.5675 23.3979H11.5423C11.1352 23.3974 10.7337 23.3026 10.3694 23.121C8.68525 22.2815 6.82954 21.8434 4.94775 21.8412H3.63242C3.63242 21.5546 3.40009 21.3223 3.1135 21.3223H0V22.3601H2.59459V28.5871H0V29.6249H3.1135C3.40009 29.6249 3.63242 29.3926 3.63242 29.106V28.9081L7.50665 30.5168C9.61867 31.3791 11.9797 31.4052 14.1103 30.5898L22.1264 27.5332C22.6011 27.3528 22.9832 26.9887 23.1862 26.5231C23.3963 26.051 23.4073 25.514 23.2167 25.0337C23.0311 24.5547 22.6584 24.1721 22.1845 23.9739ZM22.2368 26.1041C22.1451 26.3156 21.9721 26.4813 21.7568 26.5637L13.7405 29.6203C11.8566 30.3416 9.76893 30.319 7.90116 29.5571L3.63242 27.7843V22.879H4.94774C6.66843 22.881 8.36527 23.2816 9.90522 24.0493C10.4138 24.3028 10.9741 24.4351 11.5423 24.4357H15.5675C15.9971 24.4271 16.3521 24.7684 16.3606 25.198C16.3691 25.6276 16.0277 25.9826 15.5982 25.9911C15.5773 25.9915 15.5565 25.9925 15.5355 25.9925H9.34051V27.0303H15.5355C15.5462 27.0303 15.5568 27.0296 15.5675 27.0296C15.6037 27.0296 15.6396 27.029 15.6753 27.0269C16.0611 27.0108 16.4409 26.925 16.7963 26.7739L21.1343 24.9318C21.3412 24.8433 21.5753 24.8429 21.7826 24.9308C21.9979 25.0214 22.167 25.1958 22.2509 25.4138C22.3392 25.6364 22.3341 25.8853 22.2368 26.1041Z" fill="white" />
                        <path d="M30.458 11.7728L26.9836 6.12693V4.37111L28.4366 2.4338C28.5039 2.34398 28.5403 2.23473 28.5403 2.12245C28.5403 1.38691 28.1595 0.703761 27.5338 0.317021C26.908 -0.0697293 26.1266 -0.104894 25.4687 0.224058L23.8701 1.02338L22.2715 0.224058C21.6136 -0.104893 20.8322 -0.0697283 20.2065 0.316995C19.5807 0.703718 19.1999 1.38685 19.1998 2.12245C19.1999 2.23472 19.2363 2.34397 19.3036 2.43379L20.7566 4.37111V6.12693L18.239 10.2181L19.1229 10.7619L21.5655 6.79269H26.1747L29.5742 12.3167C30.2435 13.4045 30.2722 14.7692 29.6492 15.8842C29.0261 16.9991 27.8488 17.6899 26.5716 17.6899H21.2755V18.7278H26.5716C28.2248 18.7278 29.7487 17.8336 30.5552 16.3904C31.3616 14.9473 31.3245 13.1808 30.458 11.7728ZM20.7521 1.19988C21.0715 1.00095 21.4714 0.982955 21.8073 1.1524L23.638 2.0677C23.7841 2.14076 23.9561 2.14076 24.1022 2.0677L25.9328 1.15233C26.244 0.996848 26.6108 0.999968 26.9192 1.16073C27.2277 1.32149 27.4404 1.62039 27.4911 1.9645L26.2052 3.6792H21.535L20.249 1.9645C20.2946 1.64746 20.479 1.36725 20.7521 1.19988ZM25.9458 5.75486H21.7944V4.71703H25.9458V5.75486Z" fill="white" />
                        <path d="M22.3135 13.539V13.6147C22.3144 14.2617 22.7343 14.8335 23.3514 15.028V15.6147H24.3892V15.028C24.9653 14.8473 25.3741 14.3349 25.4223 13.733C25.4705 13.131 25.1485 12.5601 24.6084 12.2901L23.5965 11.7841C23.4126 11.6922 23.3161 11.4859 23.3632 11.2859C23.4104 11.0858 23.589 10.9445 23.7946 10.9444H23.9459C24.1907 10.9447 24.3889 11.143 24.3892 11.3877V11.4633H25.427V11.3877C25.4262 10.7407 25.0062 10.1689 24.3892 9.9744V9.3877H23.3514V9.9744C22.7752 10.1551 22.3664 10.6675 22.3182 11.2694C22.27 11.8713 22.5921 12.4422 23.1322 12.7123L24.1441 13.2183C24.3279 13.3102 24.4245 13.5164 24.3773 13.7165C24.3301 13.9165 24.1515 14.0579 23.9459 14.0579H23.7946C23.5499 14.0577 23.3516 13.8594 23.3514 13.6147V13.539H22.3135Z" fill="white" />
                        <rect x="26.4648" y="11.9814" width="1.03783" height="1.03783" fill="white" />
                        <rect x="9.34058" y="20.8037" width="1.03783" height="1.03783" fill="white" />
                        <rect x="11.4163" y="20.8037" width="6.22701" height="1.03783" fill="white" />
                        <path d="M16.8029 2.94924L16.1662 4.85937L17.1509 5.18745L18.1355 2.23372C18.2261 1.96181 18.0791 1.66794 17.8072 1.57735L14.8535 0.592773L14.5254 1.57742L16.1346 2.11378C13.5568 3.33066 11.5528 5.50162 10.5457 8.1683L11.5179 8.53154C12.4597 6.03738 14.364 4.02606 16.8029 2.94924Z" fill="white" />
                        <path d="M11.2079 9.51662L10.2029 9.25781C10.1104 9.61716 10.0365 9.981 9.9812 10.3479L11.0075 10.5022C11.0575 10.1705 11.1244 9.84151 11.2079 9.51662Z" fill="white" />
                        <path d="M21.1724 21.6436L21.3789 22.6607C23.2458 22.2798 24.98 21.4155 26.4082 20.1544L25.7214 19.376C24.4296 20.5169 22.861 21.2989 21.1724 21.6436Z" fill="white" />
                    </svg>
                    </a>
                <a href="#" class="rail-icon" title="الضرائب">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="27" viewBox="0 0 32 27" fill="none">
                        <path d="M10.3388 5.56343C10.2742 5.5406 10.2085 5.51698 10.1427 5.49271V4.16672C10.4636 4.21873 10.7022 4.33292 10.7097 4.33646C10.9404 4.4509 11.2203 4.35754 11.3357 4.1273C11.4515 3.89638 11.3583 3.61532 11.1274 3.49951C11.1014 3.48654 10.6922 3.2853 10.1427 3.22443V3.05756C10.1427 2.79919 9.9333 2.58984 9.675 2.58984C9.4167 2.58984 9.20729 2.79919 9.20729 3.05756V3.2896C9.19107 3.29409 9.1748 3.29821 9.15858 3.30314C8.63967 3.45948 8.25221 3.90205 8.14744 4.45808C8.05104 4.96962 8.21797 5.46533 8.58317 5.75176C8.74693 5.88029 8.94535 5.99815 9.20729 6.11981V7.83595C9.04458 7.80532 8.91056 7.74059 8.70838 7.60845C8.49217 7.46689 8.20231 7.52757 8.06095 7.74384C7.91958 7.96005 7.98019 8.2499 8.19633 8.39127C8.57962 8.64197 8.86167 8.74262 9.20723 8.77872V9.00478C9.20723 9.26315 9.41662 9.4725 9.67494 9.4725C9.93324 9.4725 10.1426 9.26315 10.1426 9.00478V8.73327C10.8476 8.53976 11.2993 7.93149 11.4002 7.33126C11.5324 6.54494 11.1059 5.83452 10.3388 5.56343ZM9.1605 5.01565C9.07252 4.94667 9.03572 4.79576 9.06672 4.63125C9.08474 4.53553 9.13058 4.42889 9.20735 4.34252V5.05045C9.1912 5.03891 9.1754 5.02731 9.1605 5.01565ZM10.4778 7.17597C10.4447 7.37322 10.3311 7.57951 10.1428 7.71359V6.49593C10.5124 6.68594 10.5027 7.02805 10.4778 7.17597Z" fill="white" />
                        <path d="M22.8305 3.82995C23.0889 3.82995 23.2982 3.6206 23.2982 3.36224C23.2982 3.10387 23.0889 2.89453 22.8305 2.89453H17.3798C17.1214 2.89453 16.9121 3.10387 16.9121 3.36224C16.9121 3.6206 17.1214 3.82995 17.3798 3.82995H22.8305Z" fill="white" />
                        <path d="M15.0413 5.64447C15.0413 5.90283 15.2507 6.11218 15.509 6.11218H22.8306C23.0889 6.11218 23.2983 5.90283 23.2983 5.64447C23.2983 5.38611 23.0889 5.17676 22.8306 5.17676H15.509C15.2507 5.17676 15.0413 5.38611 15.0413 5.64447Z" fill="white" />
                        <path d="M15.509 8.39438H22.8306C23.0889 8.39438 23.2983 8.18506 23.2983 7.9267C23.2983 7.6683 23.0889 7.45898 22.8306 7.45898H15.509C15.2507 7.45898 15.0413 7.6683 15.0413 7.9267C15.0413 8.18506 15.2507 8.39438 15.509 8.39438Z" fill="white" />
                        <path d="M8.37106 17.4482C7.92412 17.4482 7.56055 17.8118 7.56055 18.2587V22.7276C7.56055 23.1745 7.92412 23.5381 8.37106 23.5381H11.2867C11.7336 23.5381 12.0972 23.1745 12.0972 22.7276V18.2587C12.0972 17.8118 11.7336 17.4482 11.2867 17.4482H8.37106ZM11.1618 22.6026H8.49603V18.3837H11.1618V22.6026Z" fill="white" />
                        <path d="M13.6963 17.0116V22.7277C13.6963 23.1746 14.0598 23.5382 14.5067 23.5382H17.4225C17.8693 23.5382 18.2329 23.1746 18.2329 22.7277V17.0116C18.2329 16.5648 17.8693 16.2012 17.4225 16.2012H14.5067C14.0599 16.2012 13.6963 16.5648 13.6963 17.0116ZM14.6317 17.1366H17.2975V22.6028H14.6317V17.1366Z" fill="white" />
                        <path d="M30.8864 16.3744C30.9154 16.2691 30.9321 16.1588 30.9321 16.0444V15.1527C30.9321 14.5766 30.5391 14.092 30.0074 13.9493C30.041 13.8366 30.0598 13.7174 30.0598 13.5939V12.7022C30.0598 12.5786 30.041 12.4595 30.0074 12.3467C30.5391 12.204 30.9321 11.7193 30.9321 11.1433V10.2517C30.9321 9.56402 30.3726 9.00451 29.685 9.00451H26.8034V0.971844C26.8034 0.435974 26.3674 0 25.8314 0H12.8264C12.5681 0 12.3586 0.209347 12.3586 0.467712C12.3586 0.726074 12.5681 0.935425 12.8264 0.935425H25.8314C25.8515 0.935425 25.8679 0.951759 25.8679 0.971844V25.426C25.8679 25.4461 25.8515 25.4624 25.8314 25.4624H6.09772C6.07764 25.4624 6.0613 25.4461 6.0613 25.426C6.0613 22.7629 6.0613 3.74051 6.0613 0.97184C6.0613 0.951759 6.07764 0.935425 6.09772 0.935425H10.9563C11.2146 0.935425 11.424 0.726074 11.424 0.467712C11.424 0.209347 11.2146 0 10.9563 0H6.09772C5.56185 0 5.12588 0.435966 5.12588 0.97184V11.4551H2.24421C1.55655 11.4551 0.997038 12.0146 0.997038 12.7022V13.5939C0.997038 13.7083 1.01381 13.8186 1.04275 13.9239C0.452184 14.0218 0 14.5348 0 15.1527V16.0444C0 16.6623 0.452184 17.1753 1.04275 17.2734C1.01375 17.3786 0.997038 17.489 0.997038 17.6034V18.495C0.997038 18.6094 1.01381 18.7197 1.04275 18.825C0.452184 18.9229 0 19.4359 0 20.0538V20.9455C0 21.2404 0.103396 21.5112 0.275077 21.725C0.103396 21.9387 0 22.2095 0 22.5044V23.396C0 24.0837 0.559446 24.6432 1.24717 24.6432H1.99482C2.25313 24.6432 2.46254 24.4339 2.46254 24.1755C2.46254 23.9172 2.25313 23.7078 1.99482 23.7078H1.24717C1.0753 23.7078 0.935425 23.5679 0.935425 23.396V22.5044C0.935425 22.3324 1.07524 22.1926 1.24717 22.1926H5.12588V23.7078H3.86493C3.60662 23.7078 3.39721 23.9172 3.39721 24.1755C3.39721 24.4339 3.60662 24.6432 3.86493 24.6432H5.12588V25.426C5.12588 25.9619 5.56185 26.3978 6.09772 26.3978H25.8314C26.3674 26.3978 26.8034 25.9619 26.8034 25.426V24.6432H29.685C30.3726 24.6432 30.9321 24.0837 30.9321 23.396V22.5044C30.9321 22.2095 30.8287 21.9387 30.657 21.7249C30.8287 21.5112 30.9321 21.2403 30.9321 20.9454V20.0537C30.9321 19.9394 30.9154 19.829 30.8864 19.7238C31.477 19.6258 31.9292 19.1128 31.9292 18.4948V17.6032C31.9292 16.9854 31.477 16.4724 30.8864 16.3744ZM1.93246 18.4949V17.6033C1.93246 17.4314 2.07234 17.2916 2.24421 17.2916H5.12582V18.8067H2.24421C2.07228 18.8067 1.93246 18.6669 1.93246 18.4949ZM1.93246 12.7022C1.93246 12.5303 2.07234 12.3904 2.24421 12.3904H5.12582V13.9056H2.24421C2.07234 13.9056 1.93246 13.7658 1.93246 13.5939V12.7022ZM0.935425 16.0444V15.1527C0.935425 14.9808 1.07524 14.841 1.24717 14.841H2.24421H5.12582V16.3561C4.19151 16.3561 2.17037 16.3561 1.24711 16.3561C1.07524 16.3561 0.935425 16.2163 0.935425 16.0444ZM1.24717 21.2572C1.0753 21.2572 0.935425 21.1174 0.935425 20.9455V20.0538C0.935425 19.8819 1.07524 19.7421 1.24717 19.7421H5.12588V21.2572H1.24717ZM29.9967 20.0538V20.9455C29.9967 21.1174 29.8569 21.2572 29.685 21.2572H26.8034V19.7421H29.685C29.8569 19.7421 29.9967 19.8819 29.9967 20.0538ZM29.1243 12.7022V13.5939C29.1243 13.7658 28.9845 13.9056 28.8126 13.9056H26.8034V12.3905H28.8126C28.9845 12.3905 29.1243 12.5304 29.1243 12.7022ZM26.8034 14.841H29.685C29.8569 14.841 29.9967 14.9808 29.9967 15.1527V16.0444C29.9967 16.2163 29.8569 16.3561 29.685 16.3561H26.8034V14.841ZM29.685 9.93987C29.8569 9.93987 29.9967 10.0797 29.9967 10.2516V11.1433C29.9967 11.3152 29.8569 11.4551 29.685 11.4551C29.2013 11.4551 27.5446 11.4551 26.8034 11.4551V9.93987H29.685ZM29.9967 23.396C29.9967 23.5679 29.8569 23.7078 29.685 23.7078H26.8034V22.1926H29.685C29.8569 22.1926 29.9967 22.3324 29.9967 22.5044V23.396ZM30.9937 18.4949C30.9937 18.6669 30.8539 18.8067 30.682 18.8067C29.7625 18.8067 27.7394 18.8067 26.8034 18.8067V17.2916H30.682C30.8539 17.2916 30.9937 17.4314 30.9937 17.6033V18.4949Z" fill="white" />
                        <path d="M23.9009 19.4027C24.1593 19.4027 24.3687 19.1934 24.3687 18.935V14.5175C24.3687 14.0706 24.0051 13.707 23.5582 13.707H20.6425C20.1956 13.707 19.832 14.0706 19.832 14.5175V22.7281C19.832 23.1749 20.1956 23.5385 20.6425 23.5385H23.5582C24.0051 23.5385 24.3687 23.1749 24.3687 22.7281V20.805C24.3687 20.5467 24.1593 20.3373 23.9009 20.3373C23.6426 20.3373 23.4332 20.5467 23.4332 20.805V22.6031H20.7674V14.6425H23.4332V18.935C23.4332 19.1933 23.6426 19.4027 23.9009 19.4027Z" fill="white" />
                    </svg>
                    </a>
                <a href="#" class="rail-icon" title="تقارير">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="31" viewBox="0 0 23 31" fill="none">
                        <path d="M5.84468 14.0668C5.84468 14.3098 6.04159 14.5067 6.28457 14.5067H19.9071V15.5226H2.77602V14.5067H4.23176C4.47475 14.5067 4.67164 14.3098 4.67164 14.0668C4.67164 13.8239 4.47475 13.627 4.23176 13.627H2.33614C2.09313 13.627 1.89624 13.8239 1.89624 14.0668V15.9625C1.89624 16.2054 2.09313 16.4024 2.33614 16.4024H20.3469C20.5899 16.4024 20.7868 16.2054 20.7868 15.9625V14.0668C20.7868 13.8239 20.5899 13.627 20.3469 13.627H6.28457C6.04163 13.627 5.84468 13.8239 5.84468 14.0668Z" fill="white" />
                        <path d="M7.07571 1.89551C4.2196 1.89551 1.896 4.21912 1.896 7.07522C1.896 9.93133 4.2196 12.2549 7.07571 12.2549C9.93176 12.2549 12.2554 9.93133 12.2554 7.07522C12.2554 4.21912 9.93176 1.89551 7.07571 1.89551ZM11.3533 6.63534H7.51561V2.79763C9.53605 3.00391 11.147 4.61484 11.3533 6.63534ZM10.4096 9.78705L8.13766 7.51511H11.3533C11.2659 8.37131 10.9258 9.15367 10.4096 9.78705ZM2.77572 7.07522C2.77572 4.85273 4.47063 3.01863 6.63577 2.79763V7.07522C6.63577 7.19669 6.68498 7.30666 6.76457 7.38626L9.78743 10.4091C9.047 11.0125 8.103 11.3751 7.0756 11.3751C4.70471 11.3752 2.77572 9.44622 2.77572 7.07522Z" fill="white" />
                        <path d="M22.207 5.70664L16.9764 0.476076C16.6739 0.173492 16.2552 0 15.8278 0H1.62465C0.728806 0 0 0.728807 0 1.62465V23.5463C0 23.7893 0.196896 23.9862 0.439888 23.9862C0.682884 23.9862 0.879776 23.7893 0.879776 23.5463V1.62465C0.879776 1.21392 1.21392 0.879777 1.62465 0.879777H15.8278C15.8447 0.879777 15.8616 0.881126 15.8784 0.882358V5.17971C15.8784 6.07562 16.6073 6.80454 17.5032 6.80454H21.8006C21.8018 6.82138 21.8032 6.83827 21.8032 6.85522V11.0265C21.8032 11.2695 22.0001 11.4664 22.2431 11.4664C22.4861 11.4664 22.683 11.2695 22.683 11.0265V6.85522C22.683 6.42782 22.5095 6.00917 22.207 5.70664ZM16.7582 5.17971V1.50213L21.1809 5.92477H17.5033C17.0924 5.92477 16.7582 5.59051 16.7582 5.17971Z" fill="white" />
                        <path d="M22.2431 12.6396C22.0001 12.6396 21.8032 12.8366 21.8032 13.0795V28.4052C21.8032 28.816 21.4691 29.1501 21.0584 29.1501H1.62466C1.21392 29.1501 0.879784 28.816 0.879784 28.4052V25.5993C0.879784 25.3564 0.682884 25.1595 0.439896 25.1595C0.196899 25.1595 0 25.3564 0 25.5993V28.4052C0 29.3011 0.728806 30.0299 1.62466 30.0299H21.0584C21.9542 30.0299 22.683 29.3011 22.683 28.4052V13.0795C22.683 12.8366 22.4861 12.6396 22.2431 12.6396Z" fill="white" />
                        <path d="M14.3039 9.47949H13.7114C13.4684 9.47949 13.2715 9.67645 13.2715 9.91937C13.2715 10.1623 13.4684 10.3593 13.7114 10.3593H14.3039C14.5469 10.3593 14.7438 10.1623 14.7438 9.91937C14.7438 9.67645 14.5468 9.47949 14.3039 9.47949Z" fill="white" />
                        <path d="M20.3473 10.3593C20.5903 10.3593 20.7872 10.1623 20.7872 9.91937C20.7872 9.67645 20.5903 9.47949 20.3473 9.47949H16.1999C15.9569 9.47949 15.76 9.67645 15.76 9.91937C15.76 10.1623 15.9569 10.3593 16.1999 10.3593H20.3473Z" fill="white" />
                        <path d="M13.2717 11.8159C13.2717 12.0588 13.4686 12.2558 13.7116 12.2558H16.4369C16.6799 12.2558 16.8768 12.0588 16.8768 11.8159C16.8768 11.5729 16.6799 11.376 16.4369 11.376H13.7116C13.4687 11.376 13.2717 11.5729 13.2717 11.8159Z" fill="white" />
                        <path d="M3.28387 20.1947C4.04912 20.1947 4.67171 19.5721 4.67171 18.8068C4.67171 18.0415 4.04912 17.4189 3.28387 17.4189C2.5186 17.4189 1.896 18.0415 1.896 18.8068C1.896 19.5721 2.5186 20.1947 3.28387 20.1947ZM3.28387 18.2988C3.564 18.2988 3.79192 18.5267 3.79192 18.8069C3.79192 19.087 3.564 19.315 3.28387 19.315C3.00375 19.315 2.77579 19.087 2.77579 18.8069C2.77579 18.5267 3.00375 18.2988 3.28387 18.2988Z" fill="white" />
                        <path d="M10.1565 19.3145H6.12762C5.88464 19.3145 5.68774 19.5114 5.68774 19.7543C5.68774 19.9973 5.88464 20.1942 6.12762 20.1942H10.1565C10.3995 20.1942 10.5964 19.9973 10.5964 19.7543C10.5964 19.5114 10.3994 19.3145 10.1565 19.3145Z" fill="white" />
                        <path d="M6.12761 18.2987H6.72012C6.96312 18.2987 7.16002 18.1017 7.16002 17.8588C7.16002 17.6159 6.96312 17.4189 6.72012 17.4189H6.12761C5.88464 17.4189 5.68774 17.6159 5.68774 17.8588C5.68774 18.1017 5.88469 18.2987 6.12761 18.2987Z" fill="white" />
                        <path d="M10.1566 17.4189H8.61615C8.37317 17.4189 8.17627 17.6159 8.17627 17.8588C8.17627 18.1017 8.37317 18.2987 8.61615 18.2987H10.1566C10.3996 18.2987 10.5965 18.1017 10.5965 17.8588C10.5965 17.6159 10.3996 17.4189 10.1566 17.4189Z" fill="white" />
                        <path d="M3.28387 23.9867C4.04912 23.9867 4.67171 23.364 4.67171 22.5988C4.67171 21.8335 4.04912 21.2109 3.28387 21.2109C2.5186 21.2109 1.896 21.8335 1.896 22.5988C1.896 23.364 2.5186 23.9867 3.28387 23.9867ZM3.28387 22.0908C3.564 22.0908 3.79192 22.3187 3.79192 22.5989C3.79192 22.879 3.564 23.1069 3.28387 23.1069C3.00375 23.1069 2.77579 22.879 2.77579 22.5989C2.77579 22.3187 3.00375 22.0908 3.28387 22.0908Z" fill="white" />
                        <path d="M10.1565 23.1064H6.12762C5.88464 23.1064 5.68774 23.3034 5.68774 23.5463C5.68774 23.7892 5.88464 23.9862 6.12762 23.9862H10.1565C10.3995 23.9862 10.5964 23.7892 10.5964 23.5463C10.5964 23.3034 10.3994 23.1064 10.1565 23.1064Z" fill="white" />
                        <path d="M6.12761 22.0907H6.72012C6.96312 22.0907 7.16002 21.8938 7.16002 21.6508C7.16002 21.4079 6.96312 21.2109 6.72012 21.2109H6.12761C5.88464 21.2109 5.68774 21.4079 5.68774 21.6508C5.68774 21.8938 5.88469 22.0907 6.12761 22.0907Z" fill="white" />
                        <path d="M10.1566 21.2109H8.61615C8.37317 21.2109 8.17627 21.4079 8.17627 21.6508C8.17627 21.8938 8.37317 22.0907 8.61615 22.0907H10.1566C10.3996 22.0907 10.5965 21.8938 10.5965 21.6508C10.5965 21.4079 10.3996 21.2109 10.1566 21.2109Z" fill="white" />
                        <path d="M3.28387 28.2523C4.04912 28.2523 4.67171 27.6298 4.67171 26.8645C4.67171 26.0992 4.04912 25.4766 3.28387 25.4766C2.5186 25.4766 1.896 26.0992 1.896 26.8645C1.896 27.6298 2.5186 28.2523 3.28387 28.2523ZM3.28387 26.3564C3.564 26.3564 3.79192 26.5844 3.79192 26.8645C3.79192 27.1447 3.564 27.3727 3.28387 27.3727C3.00375 27.3727 2.77579 27.1447 2.77579 26.8645C2.77579 26.5844 3.00375 26.3564 3.28387 26.3564Z" fill="white" />
                        <path d="M6.12764 28.2518H10.1565C10.3995 28.2518 10.5964 28.0549 10.5964 27.8119C10.5964 27.569 10.3995 27.3721 10.1565 27.3721H6.12764C5.88464 27.3721 5.68774 27.569 5.68774 27.8119C5.68774 28.0549 5.8847 28.2518 6.12764 28.2518Z" fill="white" />
                        <path d="M6.12761 26.3563H6.72012C6.96312 26.3563 7.16002 26.1594 7.16002 25.9164C7.16002 25.6735 6.96312 25.4766 6.72012 25.4766H6.12761C5.88464 25.4766 5.68774 25.6735 5.68774 25.9164C5.68774 26.1594 5.88469 26.3563 6.12761 26.3563Z" fill="white" />
                        <path d="M10.1566 25.4766H8.61615C8.37317 25.4766 8.17627 25.6735 8.17627 25.9164C8.17627 26.1594 8.37317 26.3563 8.61615 26.3563H10.1566C10.3996 26.3563 10.5965 26.1594 10.5965 25.9164C10.5965 25.6735 10.3996 25.4766 10.1566 25.4766Z" fill="white" />
                        <path d="M13.4745 17.4189C12.7093 17.4189 12.0867 18.0415 12.0867 18.8068C12.0867 19.5721 12.7093 20.1947 13.4745 20.1947C14.2398 20.1947 14.8624 19.5721 14.8624 18.8068C14.8624 18.0415 14.2398 17.4189 13.4745 17.4189ZM13.4745 19.3148C13.1944 19.3148 12.9665 19.0869 12.9665 18.8067C12.9665 18.5266 13.1944 18.2986 13.4745 18.2986C13.7547 18.2986 13.9826 18.5266 13.9826 18.8067C13.9826 19.0869 13.7547 19.3148 13.4745 19.3148Z" fill="white" />
                        <path d="M20.3472 19.3145H16.3183C16.0753 19.3145 15.8784 19.5114 15.8784 19.7543C15.8784 19.9973 16.0753 20.1942 16.3183 20.1942H20.3472C20.5901 20.1942 20.7871 19.9973 20.7871 19.7543C20.7871 19.5114 20.5901 19.3145 20.3472 19.3145Z" fill="white" />
                        <path d="M16.3183 18.2987H16.9108C17.1538 18.2987 17.3507 18.1017 17.3507 17.8588C17.3507 17.6159 17.1538 17.4189 16.9108 17.4189H16.3183C16.0753 17.4189 15.8784 17.6159 15.8784 17.8588C15.8784 18.1017 16.0753 18.2987 16.3183 18.2987Z" fill="white" />
                        <path d="M20.3471 17.4189H18.8066C18.5636 17.4189 18.3667 17.6159 18.3667 17.8588C18.3667 18.1017 18.5636 18.2987 18.8066 18.2987H20.3471C20.5901 18.2987 20.787 18.1017 20.787 17.8588C20.787 17.6159 20.5901 17.4189 20.3471 17.4189Z" fill="white" />
                        <path d="M13.4745 21.2109C12.7093 21.2109 12.0867 21.8336 12.0867 22.5989C12.0867 23.3641 12.7093 23.9867 13.4745 23.9867C14.2398 23.9867 14.8624 23.3641 14.8624 22.5989C14.8624 21.8336 14.2398 21.2109 13.4745 21.2109ZM13.4745 23.1069C13.1944 23.1069 12.9665 22.8789 12.9665 22.5988C12.9665 22.3186 13.1944 22.0907 13.4745 22.0907C13.7547 22.0907 13.9826 22.3186 13.9826 22.5988C13.9826 22.8789 13.7547 23.1069 13.4745 23.1069Z" fill="white" />
                        <path d="M20.3472 23.1064H16.3183C16.0753 23.1064 15.8784 23.3034 15.8784 23.5463C15.8784 23.7892 16.0753 23.9862 16.3183 23.9862H20.3472C20.5901 23.9862 20.7871 23.7892 20.7871 23.5463C20.7871 23.3034 20.5901 23.1064 20.3472 23.1064Z" fill="white" />
                        <path d="M16.3183 22.0907H16.9108C17.1538 22.0907 17.3507 21.8938 17.3507 21.6508C17.3507 21.4079 17.1538 21.2109 16.9108 21.2109H16.3183C16.0753 21.2109 15.8784 21.4079 15.8784 21.6508C15.8784 21.8938 16.0753 22.0907 16.3183 22.0907Z" fill="white" />
                        <path d="M20.3471 21.2109H18.8066C18.5636 21.2109 18.3667 21.4079 18.3667 21.6508C18.3667 21.8938 18.5636 22.0907 18.8066 22.0907H20.3471C20.5901 22.0907 20.787 21.8938 20.787 21.6508C20.787 21.4079 20.5901 21.2109 20.3471 21.2109Z" fill="white" />
                        <path d="M13.4745 25.4766C12.7093 25.4766 12.0867 26.0992 12.0867 26.8644C12.0867 27.6297 12.7093 28.2523 13.4745 28.2523C14.2398 28.2523 14.8624 27.6297 14.8624 26.8644C14.8624 26.0992 14.2398 25.4766 13.4745 25.4766ZM13.4745 27.3725C13.1944 27.3725 12.9665 27.1446 12.9665 26.8644C12.9665 26.5842 13.1944 26.3563 13.4745 26.3563C13.7547 26.3563 13.9826 26.5842 13.9826 26.8644C13.9826 27.1446 13.7547 27.3725 13.4745 27.3725Z" fill="white" />
                        <path d="M16.3183 28.2518H20.3472C20.5901 28.2518 20.7871 28.0549 20.7871 27.8119C20.7871 27.569 20.5901 27.3721 20.3472 27.3721H16.3183C16.0753 27.3721 15.8784 27.569 15.8784 27.8119C15.8784 28.0549 16.0753 28.2518 16.3183 28.2518Z" fill="white" />
                        <path d="M16.3183 26.3563H16.9108C17.1538 26.3563 17.3507 26.1594 17.3507 25.9164C17.3507 25.6735 17.1538 25.4766 16.9108 25.4766H16.3183C16.0753 25.4766 15.8784 25.6735 15.8784 25.9164C15.8784 26.1594 16.0753 26.3563 16.3183 26.3563Z" fill="white" />
                        <path d="M20.3471 25.4766H18.8066C18.5636 25.4766 18.3667 25.6735 18.3667 25.9164C18.3667 26.1594 18.5636 26.3563 18.8066 26.3563H20.3471C20.5901 26.3563 20.787 26.1594 20.787 25.9164C20.787 25.6735 20.5901 25.4766 20.3471 25.4766Z" fill="white" />
                    </svg>
                    </a>
            </nav>
        </aside>

        <!-- White panel menu -->
        <aside class="menu">
            <div class="menu-header">
                <div class="logo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="123" height="42" viewBox="0 0 123 42" fill="none">
                        <path d="M88.0527 0H84.9122C84.2407 0 83.7008 0.539878 83.7008 1.21143V8.32203H76.3268C67.4188 8.32203 59.8935 15.3009 59.617 24.2023C59.3207 33.6041 66.9843 41.327 76.3729 41.1229C83.5691 40.9649 89.2707 34.9867 89.2707 27.7906V1.21143C89.2707 0.539878 88.7309 0 88.0593 0M83.7008 27.8762C83.7008 32.1162 80.2508 35.5661 76.0108 35.5661C70.0326 35.5661 65.1672 30.7006 65.1672 24.7225C65.1672 18.7443 70.0326 13.8788 76.0108 13.8788H83.7008V27.8696V27.8762Z" fill="#1B181D" />
                        <path d="M25.8417 1.63283C25.8417 0.961269 25.3019 0.421391 24.6303 0.421391H23.0633C13.5496 0.414807 5.8399 8.13111 5.8399 17.6448V20.0677H1.21143C0.539878 20.0677 0 20.6076 0 21.2791V24.4196C0 25.0912 0.539878 25.6311 1.21143 25.6311H5.8399V39.7864C5.8399 40.458 6.37978 40.9978 7.05134 40.9978H10.1918C10.8634 40.9978 11.4033 40.458 11.4033 39.7864V25.6311H21.2659C21.9375 25.6311 22.4774 25.0846 22.4774 24.4196V21.2791C22.4774 20.6076 21.9309 20.0677 21.2659 20.0677H11.4033V17.6448C11.4033 11.2058 16.6243 5.98477 23.0633 5.98477H24.6303C25.3019 5.98477 25.8417 5.44489 25.8417 4.77334V1.63283Z" fill="#1B181D" />
                        <path d="M41.485 8.32202C32.8338 8.32202 25.7957 15.6828 25.7957 24.7225C25.7957 33.7621 32.8338 41.1229 41.485 41.1229C50.1363 41.1229 57.1744 33.7621 57.1744 24.7225C57.1744 15.6828 50.1363 8.32202 41.485 8.32202ZM41.485 35.5661C35.9019 35.5661 31.359 30.7006 31.359 24.7225C31.359 18.7443 35.9019 13.8788 41.485 13.8788C47.0682 13.8788 51.611 18.7443 51.611 24.7225C51.611 30.7006 47.0682 35.5661 41.485 35.5661Z" fill="#1B181D" />
                        <mask id="mask0_159_205" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="91" y="8" width="32" height="34">
                            <path d="M107.311 8.32202C98.6595 8.32202 91.6213 15.6828 91.6213 24.7225C91.6213 33.7621 98.6595 41.1229 107.311 41.1229C115.962 41.1229 123 33.7621 123 24.7225C123 15.6828 115.962 8.32202 107.311 8.32202ZM107.311 35.5661C101.728 35.5661 97.1847 30.7006 97.1847 24.7225C97.1847 18.7443 101.728 13.8788 107.311 13.8788C112.894 13.8788 117.437 18.7443 117.437 24.7225C117.437 30.7006 112.894 35.5661 107.311 35.5661Z" fill="white" />
                        </mask>
                        <g mask="url(#mask0_159_205)">
                            <path d="M124.909 7.52539H90.5085V41.9262H124.909V7.52539Z" fill="url(#paint0_linear_159_205)" />
                        </g>
                        <path d="M107.699 35.441C106.139 35.441 104.868 36.7051 104.868 38.2721C104.868 39.8391 106.139 41.1032 107.699 41.1032C109.26 41.1032 110.53 39.8325 110.53 38.2721C110.53 36.7117 109.266 35.441 107.699 35.441Z" fill="white" />
                        <mask id="mask1_159_205" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="104" y="35" width="7" height="7">
                            <path d="M107.699 35.441C106.139 35.441 104.868 36.7051 104.868 38.2721C104.868 39.8391 106.139 41.1032 107.699 41.1032C109.26 41.1032 110.53 39.8325 110.53 38.2721C110.53 36.7117 109.266 35.441 107.699 35.441Z" fill="white" />
                        </mask>
                        <g mask="url(#mask1_159_205)">
                            <path d="M110.53 35.441H104.868V41.1032H110.53V35.441Z" fill="white" />
                        </g>
                        <defs>
                            <linearGradient id="paint0_linear_159_205" x1="89.7646" y1="6.93284" x2="123.23" y2="40.1156" gradientUnits="userSpaceOnUse">
                                <stop offset="0.01" stop-color="#58C5C9" />
                                <stop offset="1" stop-color="#009EB7" />
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
                <div class="subtitle">لوحة التحكم</div>
            </div>
            <div class="menu-scroll">
                <div class="group">
                    <div class="group-title">
                        إدارة
                    </div>
                    <a class="row" href="/UserManagment/Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                            <circle cx="2.76648" cy="2.76648" r="2.76648" fill="#0095A8" />
                        </svg>
                        المستخدمين

                    </a>
                    <hr/>
                    <a class="row" href="/Branches/Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                            <circle cx="2.76648" cy="2.76648" r="2.76648" fill="#0095A8" />
                        </svg>
                        الفروع

                    </a>
                    <hr />
                    <a class="row" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                            <circle cx="2.76648" cy="2.76648" r="2.76648" fill="#0095A8" />
                        </svg>
                        الوحدات
                    </a>
                    <hr />
                    <a class="row" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                            <circle cx="2.76648" cy="2.76648" r="2.76648" fill="#0095A8" />
                        </svg>
                        أقسام قائمة البيع

                    </a>
                    <hr />
                    <a class="row" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                            <circle cx="2.76648" cy="2.76648" r="2.76648" fill="#0095A8" />
                        </svg>
                        الأصناف

                    </a>
                    <hr />
                    <a class="row" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                            <circle cx="2.76648" cy="2.76648" r="2.76648" fill="#0095A8" />
                        </svg>
                        التسعير

                    </a>
                </div>

                <div class="group">
                    <div class="group-title">المخزون</div>
                    <a class="row" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                            <circle cx="2.76648" cy="2.76648" r="2.76648" fill="#0095A8" />
                        </svg>
                        الرصيد الحالي للأصناف


                    </a>
                    <hr />
                    <a class="row" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                            <circle cx="2.76648" cy="2.76648" r="2.76648" fill="#0095A8" />
                        </svg>
                        استلام التحويل
                    </a>
                    <hr />
                    <a class="row" href="#">
                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                            <circle cx="2.76648" cy="2.76648" r="2.76648" fill="#0095A8" />
                        </svg>
                        الجرد</a>

                    <hr />
                    <a class="row" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                            <circle cx="2.76648" cy="2.76648" r="2.76648" fill="#0095A8" />
                        </svg>
                        المشتريات
                        </a>
                </div>

                <div class="group">
                    <div class="group-title">إدارة الضرائب الرسوم</div>
                    <a class="row" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                            <circle cx="2.76648" cy="2.76648" r="2.76648" fill="#0095A8" />
                        </svg>
                        الضرائب
                        </a>
                    <hr />
                    <a class="row" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                            <circle cx="2.76648" cy="2.76648" r="2.76648" fill="#0095A8" />
                        </svg>
                        رسوم الخدمة

                    </a>
                </div>

                <div class="group">
                    <div class="group-title">تقارير</div>
                </div>
            </div>
        </aside>
        <main role="main" class="page">
            <header class="topbar">

                <div class="topbar-right">
                    <div class="user-info">
                        <button style="border:none;background:none;cursor:pointer;">🔔</button>
                        <span>EN</span>
                        <div class="avatar"></div>
                        <span>هشام ..</span>
                    </div>
                </div>
            </header>
                @RenderBody()
        </main>
    

    @* <footer class="border-top footer text-muted">
        <div>
            &copy; 2026 - Fodo.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @* @await RenderSectionAsync("Scripts", required: false) *@
    </div>
</body>
</html>
